asttokens
blinker
certifi
charset-normalizer
click
colorama
comm
contourpy
cycler
dash
debugpy
decorator
et_xmlfile
executing
filelock
Flask
fonttools
fsspec
huggingface-hub
idna
importlib_metadata
ipykernel
ipython
ipython_pygments_lexers
itsdangerous
jedi
Jinja2
joblib
jupyter_client
jupyter_core
kiwisolver
MarkupSafe
mathlib
matplotlib
matplotlib-inline
narwhals
nest-asyncio
nltk
numpy
openpyxl
packaging
pandas
parso
pillow
platformdirs
plotly
prompt_toolkit
psutil
pure_eval
Pygments
pyparsing
PyPDF2
python-dateutil
pytz
PyYAML
pyzmq
regex
requests
retrying
safetensors
scikit-learn
scipy
seaborn
setuptools
six
stack-data
threadpoolctl
tokenizers
tornado
tqdm
traitlets
transformers
typing_extensions
tzdata
urllib3
wcwidth
Werkzeug
xgboost
yellowbrick
zipp
gunicorn